.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 82px;
  border-bottom: 1px solid #EEEEEE;
  padding: 16px 22px;
  color: #626262;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
}

.parrots-count {
  display: flex;
}

.parrots-count::before {
  content: url('/light-parrot.svg');
  align-self: center;
  margin-right: 10px;
}